.sidebarInfoContainer{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    width: 100%;
    height: fit-content;
    margin-bottom: 20px;
    overflow-y: scroll;
}

.sidebarInfoContainer .information_about_user{
    width: 90%;
    height: 100%;
    margin: 20px auto;
    font-size: 20px;
}


.information_about_user .aboutMe{
    display: flex;
    flex-direction: column;

}

.information_about_user .socials{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 90%;
    font-size: 20px;
    margin: 20px auto;
    
}

.information_about_user .socials i{
    color: black;
    font-size: 40px;
}

