.sidebarInfoContainer{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    overflow-y: scroll;
    display: flex;

}

.sidebarInfoContainer .information_about_user{
    width: 90%;
    height: 80%;
    margin: auto;
    font-size: 20px;
    overflow: scroll;
}


.information_about_user .aboutMe{
    display: flex;
    flex-direction: column;

}

.information_about_user .socials{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 90%;
    font-size: 20px;
    margin: 20px auto;
    
}

.information_about_user .socials i{
    color: black;
    font-size: 40px;
}



@media screen and (max-width : 426px) {
    .sidebarInfoContainer{
        overflow-y: unset;
        height: fit-content;
        
    }
    .sidebarInfoContainer .information_about_user{
        overflow:unset;
    }
    .information_about_user .fullName{
        font-size: 25px;
    }
    .information_about_user .birthday{
        font-size: 22px;
    }
    .information_about_user .phoneNumber{
        font-size: 22px;
    }
    .information_about_user h2 {
        font-size: 24px;
    }

}
