.image_part{
    height: 90%;
    display: grid;
    grid-template-rows : 10% 1fr;
    grid-gap: 5px;
}
.image_part .main_image{
    margin: auto 0;
    display: flex;
    flex-direction: column;
}

.image_part .main_image button{
    margin: 10px 0;
}



.image_part .images_List{
    height: 90%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.images_List h1{
    margin:  0 auto;
}

.images_List .delete{
    position: absolute;
    right: 3px;
    top: 10px;
}