.profileContainer{
    width: 80%;
    margin: 20px auto;
    
    display: grid;
    grid-template-columns: 1fr 30%;
    grid-gap: 30px;
    color : 
}



.profileContainer .rightblock {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    height: 100%;
}



/*Avatar*/
.avatarBlock{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    display: flex;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    position: relative;
}
.avatarBlock .ava{
    height: 300px;
    width: 300px;
    margin: auto auto;

}
.avatarBlock .photo{
    position: absolute;
    border-radius: 50%;
    background-color: white;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%,-50%);
}

/*GeneralInfo*/
 .generalInfo{
    width: 100%;
    height: 100%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    text-align: left;
    position: relative;
}
.generalInfo .generalInfoContainer{
    width: 90%;
    margin: 0 auto;
}
.generalInfo .generalInfoContainer .editfield{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 0;
    padding: 10px 0;
    height: fit-content;
    border-left: none;
    border-right: none;
    width: 100%;
    text-align: left;
}
 .generalInfo .generalInfoContainer .editfield  {
    width: 100%;
    margin-top: 5px;
}

.generalInfo .inline{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.generalInfo h3{
    text-align: left;
}

.generalInfoContainer .editfield .othe{
    margin: 30px 0;
    width: 100%;
}

.generalInfo .generalInfoContainer .editfield .changeEmail{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.editfield .changePassword  button{
    margin: 10px 0;
}
.editfield .changeEmail button {
    margin: 10px 0;
    height: 100%;
}

.generalInfo .generalInfoContainer .editfield .changePassword{
    display: grid;
    grid-template-columns: 35% 35% 1fr;
    width: 100% ;
    grid-gap: 20px;
}


/*Socials*/

.profileEdit .socials{
    width: 100%;
    height: 100%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.profileEdit .socials .social_line{
    width: 90%;
    height: 45px;
    display: grid;
    grid-template-columns : 30% 1fr;
    
    margin: 20px auto;
    
}
.social_line .icon{
    width: fit-content;
    height: 100%;
    margin: 0 20px;
}
.social_line .icon img{
    width: 100%;
    height: 60px;
}

.socials .btns{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.btns button {
    margin: 0 5px;
}



.all .spinner{
    display: flex;
    margin: auto auto;
    height: 90%;
}

.emLine{
    display: grid;
    align-items: center;
    grid-template-columns: 60% 1fr;
    grid-gap: 20px;
}

.generalInfo .save{
    position: absolute;
    right: 5px;
    top: 5px;
}



@media screen and (max-width : 426px) {
    .profileContainer{
        width: 95%;
        grid-template-columns: 1fr;
    }
    .profileEdit .socials .social_line{
        height: fit-content;
        display: grid;
        grid-template-columns: 30% 70%;
        margin:20px 0;
        
    }
    .changeEmail .emLine{
        display: grid;
        align-items: center;
        grid-template-columns:1fr;
        grid-gap: 20px;
    }

    .generalInfo .generalInfoContainer .editfield .changePassword{
        grid-template-columns: 50% 50%;
        
    }
}
