.footer{
    height: 7vh;
    background-color: #EDC1CC;
    width: 100%;
    display: flex;
    align-items: center;
}
.footer_container{
    display: flex;
    width: 80%;
    align-items: center;
    margin: 0 auto;
    height: 100%;
    justify-content: space-between;
}
.footer_container img{
    height: 60%;
}
.footer_container .footer_socials {
    display: flex;
    width: 15%;
    justify-content: space-between;
}
.footer_socials i{
    font-size: 40px;
    color: black;
}
.footer_socials i:hover{
    transform: scale(1.1);
    transition: 0.6s;
    cursor: pointer;
    color: #050564;
}


@media screen and (max-width : 426px) {
    .footer_container {
        width: 95%;
    }

    .footer_container img{
        height: 50%;
    }

    .footer_container .footer_socials{
        width: 40%;
    }

    .footer_socials i {
        font-size: 30px;
    }
}
